body{
    margin: 0px;
    padding: 0px;
    background: url(web.jpg);
    background-size: cover;
    background-position: top;
    font-family: sans-serif;
}

.loginbox{
  width: 420px;
  height: 670px;
  background: #F0F8FF;
  color: #8FBC8F;
  top: 90%;
  left: 80%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 40px 30px;
  border-radius: 5%;
}

.register{
    width: 80px;
    height: 75px;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    border-radius: 50%
}

.h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p{
    margin: 0;
    font-weight: bold;
    padding-top: -5%;
}

.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    padding-top:-10% 
}

.loginbox input[type="text"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

.loginbox input[type="submit"]
{
  border: none;
  outline: none;
  height: 10px;
  width: 2px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 50px:
}

.loginbox input[type="submit"]:hover
{
  cursor: pointer;
  background: #ffc107
  color: #000;
}
